/* MOBILE FIRST */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: black;
}

.hero {
    padding: 40px 20px;
    text-align: center;
}

.hero p {
    margin: 15px 0;
}

button {
    padding: 12px 20px;
    cursor: pointer;
}

.productos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}


/* TABLET */

@media (min-width: 768px) {

    nav {
        flex-direction: row;
        justify-content: center;
    }

    .productos {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* PC */

@media (min-width: 1024px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 8%;
    }

    nav {
        margin-top: 0;
    }

    .productos {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: auto;
    }

    .hero {
        padding: 70px 20px;
    }
}